:root {
    --main-text-color: #757575;
    --logo-color: #000000;
    --secondary-title-colour: #FFFFFF;
    --title-colour: #212121;
    --akcent-colour: #2196F3;
    --main-font: "Roboto"; sans-serif;
    --secondary-font: "Raleway"; sans-serif;
}

/* стилі сторінки */

.page {
    font-family: var(--maint-font);
    color: var(--main-text-color);
}

.link {
    list-style: none;
}


/* logo */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.web {
    color: var(--akcent-colour);
}

/* nav */

.nav-link {
    color:var(--title-colour);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-link {
    color: var(--main-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--akcent-colour)
}
 .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-title-colour);
    background-color: #2F303A;
 }
 .hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-title-colour);
    background-color: var(--akcent-colour);
 }

 /* <!-- секція про нас --> */

 .about-us-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-colour);
 }

 .about-us-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;   
    color: var(--main-text-color);
 }

 /* <!-- секція чим ми займамося --> */

 .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-colour)
}

/* <!-- секція наша команда --> */

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-colour);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-colour);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* footer */

.address {
    font-weight: 400
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-title-colour);
}