:root {
    --main-text-color: #757575;
    --logo-color: #000000;
    --secondary-title-color: #FFFFFF;
    --title-color: #212121;
    --akcent-color: #2196F3;
    --main-font: "Roboto"; sans-serif;
    --secondary-font: "Raleway"; sans-serif;
    --main-background-color:#E5E5E5 ;
    --secondary-background-color: #2F303A;
}

/* стилі сторінки */

.page {
    font-family: var(--maint-font);
    color: var(--main-text-color);
    background-color: var(--main-background-color);
}

.list {
    list-style: none;
}

.link {
    list-style: none;
    text-decoration: none;
}

/* хедер */

.header {
    background-color: var(--secondary-title-color);
}

/* logo */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.web {
    color: var(--akcent-color);
}

/* nav */

.nav-link {
    color:var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-link {
    color: var(--main-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: var(--akcent-color)
}

/* hero */

 .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-title-color);
 }
 .hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-title-color);
    background-color: var(--akcent-color);
    cursor: pointer;
 }
 .section-hero {
    background-color: var(--secondary-background-color);
 }

 /* <!-- секція про нас --> */

 .about-us-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
 }

 .about-us-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;   
    color: var(--main-text-color);
 }

 /* <!-- секція чим ми займамося --> */

 .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color)
}

/* <!-- секція наша команда --> */

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* footer */

.logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}


.address {
    font-style: normal;
}

.address-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}
 

.footer {
    background-color: var(--secondary-background-color);
}



/* портфоліо */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-colour);
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
   background: var(--akcent-color);
   color: var(--secondary-titel-color);
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-color);
 }
 

.project-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}